<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Magendoo Faq PHPUnit configuration
 *
 * Runs the module's unit suite standalone from the module root:
 *   php vendor/bin/phpunit -c app/code/Magendoo/Faq/phpunit.xml.dist
 *
 * The same tests are also auto-discovered by the install-wide config
 * (dev/tests/unit/phpunit.xml.dist) via its app/code/*/*/Test/Unit glob.
 *
 * @category  Magendoo
 * @package   Magendoo_Faq
 * @copyright Copyright (c) Magendoo (https://magendoo.com)
 * @license   https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         colors="true"
         columns="max"
         cacheResult="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="../../../../dev/tests/unit/framework/bootstrap.php">
    <testsuites>
        <testsuite name="Magendoo_Faq_Unit_Tests">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>Test</directory>
        </exclude>
    </source>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="date.timezone" value="America/Los_Angeles"/>
    </php>
</phpunit>
