<?xml version="1.0"?>
<!--
/**
 * Magendoo Faq Default Configuration
 *
 * @category  Magendoo
 * @package   Magendoo_Faq
 * @copyright Copyright (c) Magendoo (https://magendoo.ro)
 * @license   https://opensource.org/licenses/MIT MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magendoo_faq>
            <general>
                <enabled>1</enabled>
                <title>FAQ</title>
                <url_prefix>faq</url_prefix>
                <allow_guest_questions>1</allow_guest_questions>
            </general>
            <navigation>
                <show_breadcrumbs>1</show_breadcrumbs>
                <sort_categories_by>position</sort_categories_by>
                <sort_questions_by>position</sort_questions_by>
                <answer_length_limit>250</answer_length_limit>
                <show_search_box>1</show_search_box>
                <questions_per_category_page>10</questions_per_category_page>
                <questions_per_search_page>10</questions_per_search_page>
                <short_answer_behavior>short_answer</short_answer_behavior>
                <tags_limit>20</tags_limit>
            </navigation>
            <product_page>
                <enabled>1</enabled>
                <tab_name>Product Questions</tab_name>
                <tab_position>40</tab_position>
                <show_ask_button>1</show_ask_button>
                <questions_limit>10</questions_limit>
            </product_page>
            <rating>
                <enabled>1</enabled>
                <type>yes_no</type>
                <allow_guest_rating>1</allow_guest_rating>
            </rating>
            <social>
                <enabled>0</enabled>
            </social>
            <seo>
                <url_suffix_enabled>0</url_suffix_enabled>
                <url_suffix>.html</url_suffix>
                <structured_data_enabled>1</structured_data_enabled>
                <add_to_sitemap>1</add_to_sitemap>
                <robots_search_results>NOINDEX,FOLLOW</robots_search_results>
            </seo>
            <user_notifications>
                <enabled>0</enabled>
                <email_sender>general</email_sender>
                <email_template>magendoo_faq_user_notifications_email_template</email_template>
            </user_notifications>
            <admin_notifications>
                <enabled>0</enabled>
                <send_to>admin@example.com</send_to>
                <email_template>magendoo_faq_admin_notifications_email_template</email_template>
            </admin_notifications>
            <gdpr>
                <enabled>0</enabled>
                <consent_text>I agree that my name and email address will be stored and used to process my question and to notify me once it has been answered.</consent_text>
            </gdpr>
        </magendoo_faq>
    </default>
</config>
