<?xml version="1.0"?>
<!--
/**
 * Magendoo FAQ Module Declaration
 *
 * @category  Magendoo
 * @package   Magendoo_Faq
 * @copyright Copyright (c) Magendoo (https://magendoo.ro)
 * @license   https://opensource.org/licenses/MIT MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magendoo_Faq">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Store"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
            <module name="Magento_UrlRewrite"/>
            <module name="Magento_Sitemap"/>
            <module name="Magento_Widget"/>
            <module name="Magento_ReCaptchaUi"/>
            <module name="Magento_ReCaptchaFrontendUi"/>
            <module name="Magento_ReCaptchaAdminUi"/>
            <module name="Magento_ReCaptchaValidation"/>
        </sequence>
    </module>
</config>
